# Ignore results
matlab/results/
matlab/batch_config.m

# Ignore data
data/

# Ignore R project files
analysis/*.Rproj
analysis/*.RData
analysis/*.Rhistory
analysis/*.png
analysis/*.svg
analysis/*.pdf

# Ignore .txt files
scripts/*.txt
.Rproj.user
